<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=8" />
<title>Bombin男装商城订单详情</title>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" type="text/css" href="css/leftsidebar.css">
<link rel="stylesheet" type="text/css" href="css/details.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">
<script src="js/jquery-1.8.3.min.js"></script>
</head>

<body>
<div class="header">
	<div class="top"><!--顶部导航栏-->
		<div class="topnav">
			<ul class="left"><!--顶部左边-->
				<li class="li01"><a href="javascript:vido(0);">收藏红豆</a></li>
				<li class="li02"><a href="javascript:vido(0);">关注微博</a></li>
				<li class="li03"><a href="javascript:vido(0);">手机商城</a></li>
				<li class="li04"><a href="javascript:vido(0);">咨询电话:</a><span>400-602-1112</span></li>
				<p class="cle"></p>
			</ul>
			<ul class="right"><!--顶部右边-->
				<div>亲，欢迎来到Bombin男装商城！</div>
				<li><a href="login.html">【登陆】</a></li>
				<li><a href="regsiter .html">【注册】</a></li>
				<li id="My"><a href="member.html">我的Bombin ∨</a></li>
				<li class="help"><a href="javascript:vido(0);">帮助中心</a></li>
				<p class="cle"></p>
			</ul>
			<p class="cle"></p>
		</div>
	</div>	
	<div class="mid"><!--顶部内容区-->
		<div class="box">
			<div class="logo">
                <a href="index.html">
                    <img src="images/logo.png">Bombin男装商城
                </a>
            </div>
			<div class="right">
				<div class="search">
				<form action="" method="">
					<input class="text" type="text" size="20" />
					<button>搜索</button>
				</form>							
				</div>				
				<div class="gwc">
					<a href="shopping.html">我的购物车</a>
					<div id="number">0</div>
				</div>
				<p class="cle"></p>
				<ul class="hot">
					<li class="li01"><a href="javascript:vido(0);">衬衫</a></li>
					<li class="li02"><a href="javascript:vido(0);">外套</a></li>
					<li class="li03"><a href="javascript:vido(0);">童装</a></li>
					<li class="li04"><a href="javascript:vido(0);">秋季热卖</a></li>
					<li class="li05"><a href="javascript:vido(0);">红豆杉</a></li>
				</ul>
			</div>
		</div>
		<div class="nav"><!--导航栏-->
			<div id="all">
				<a href="javascript:vido(0);">全部商品分类<span>∨</span></a>
				<ul id="leftsidebar">
					<li class="li01">
						男装
						<div>
						<a class="a01" href="javascript:vido(0);">衬衫</a>
						<a href="javascript:vido(0);">羽绒服</a>
						<a href="javascript:vido(0);">毛衫</a>
						</div>
					</li>
					<li class="li02">
						居家
						<div>
						<a class="a01" href="javascript:vido(0);">家居服</a>
						<a href="javascript:vido(0);">短裤</a>
						<a href="javascript:vido(0);">四角裤</a>
						</div>
					</li>
					<li class="li03">
						童装
						<div>
						<a class="a01" href="javascript:vido(0);">男童</a>
						<a href="javascript:vido(0);">女童</a>
						<a href="javascript:vido(0);">婴童</a>
						</div>
					</li>
					<li class="li04">
						红豆杉
						<div>
						<a class="a01" href="javascript:vido(0);">红豆杉</a>
						<a href="javascript:vido(0);"> </a>
						<a href="javascript:vido(0);">园林衫</a>
						</div>
					</li>
					<li class="li05">
						配饰
						<div>
						<a class="a01" href="javascript:vido(0);">皮带</a>
						<a href="javascript:vido(0);">项链</a>
						<a href="javascript:vido(0);">鞋带</a>
						</div>
					</li>
					<li class="li06">
						套装
						<div>
						<a class="a01" href="javascript:vido(0);">套装</a>
						<a href="javascript:vido(0);">半套装</a>
						</div>
					</li>
					<li class="li07">
						季节款式
						<div>
						<a class="a01" href="javascript:vido(0);">夏季</a>
						<a href="javascript:vido(0);">冬季</a>
						<a href="javascript:vido(0);">秋季</a>
						</div>
					</li>
					<li class="li08">
						明星同款
						<div>
						<a class="a01" href="javascript:vido(0);">黄晓明</a>
						<a class="a01" href="javascript:vido(0);">杨毅</a>
						<a class="a01" href="javascript:vido(0);">赵薇</a>
						</div>
					</li>
				</ul>
			</div>
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="nanzhuang.html">男装</a></li>
				<li><a href="javascript:vido(0);">专柜同步</a></li>
				<li><a href="javascript:vido(0);">居家</a></li>
				<li><a href="javascript:vido(0);">家纺</a></li>
				<li><a href="javascript:vido(0);">童装</a></li>
				<li><a href="javascript:vido(0);">女装</a></li>
				<li><a href="javascript:vido(0);">红豆杉</a></li>
				<li><a href="javascript:vido(0);">配饰</a></li>
				<li><a href="javascript:vido(0);">特色购</a></li>
				<p class="cle"></p>
			</ul>
			<p class="cle"></p>
		</div>
	</div>	
</div>

<!--     会员中心开始     -->
<div id="container">
  <span><a href="javascript:vido(0);">Bombin</a> > 会员中心</span>

  <!--    左导航栏开始     -->

  <div class="leftsidebar">
    <ul>
      <h6>个人中心</h6>
      <li><a href="member.html">我的用户中心</a></li>
      <li><a href="shopping.html">我的购物车</a></li>
      <li><a href="order.html">我的订单</a></li>
      <li><a href="javascript:vido(0);">我的收藏</a></li>
      <li><a href="javascript:vido(0);">我的评价</a></li>
      <li><a href="javascript:vido(0);">提取现金</a></li>
      <li><a href="javascript:vido(0);">我的余额</a></li>
    </ul>
    <ul>
      <h6>我的账户</h6>
      <li><a href="address.html">地址管理</a></li>
      <li><a href="modify.html">个人信息</a></li>
    </ul>
    <ul>
      <h6>退款维权</h6>
      <li><a href="javascript:vido(0);">系统消息</a></li>
      <li><a href="javascript:vido(0);">举报管理</a></li>
    </ul>
  </div>
  
  <!--    左导航栏结束    -->
  <!--    订单详情开始    -->
  <div class="details">
    <p>订单详情</p>
    <div class="overview">
      <h6>订单概况</h6>
      <p>订单号：HD2015102459410<span>状态： 代付款</span></p>
      <ul class="ul1">
        <li>订单金额：<span>￥39.00</span>（以免运费）</li>
        <li>收货信息：陈波,189250045454,广东省 广州市白云区 地方地方地方的放大放大放大放</li>
        <li>支付方式：未支付</li>
        <li>送货方式：卖家留言：</li>
      </ul>
    </div>
    <div class="overview">
      <h6>订单跟踪详情</h6>
      <ul class="ul2">
        <li>处理时间</li>
        <li>订单处理</li>
        <li>操作人</li>
      </ul>
      <div class="cle"></div>
      <ul class="ul2">
        <li>2015-10-24 12:17:16</li>
        <li>提交订单</li>
        <li>18925009898</li>
      </ul>
      <div class="cle"></div>
    </div>
    <div class="overview">
      <h6>商品清单</h6>
      <div class="div1"></div>
      <ul class="article">
        <li class="li1">
          <img src="images/orber1.gif"/>
          <a href="javascript:vido(0);">秋上新红豆相思鸟男装韩版修身纯色长袖衬衫多色商务休闲衬衣潮流XSDMF1C063-1</a>
          <span>尺码190/104B 颜色:黑色</span>
        </li>
        <li>
          ￥139.00
        </li>
        <li class="li2">
          1
        </li>
        <li class="li3">
          ￥139.00
        </li>
      </ul>
      <div class="total">
        <ul>
          <li>商品价格：</li>
          <li>运费：</li>
          <li>优惠：</li>
          <li>总计：</li>
        </ul>
        <ul class="ul3">
          <li>￥139.00</li>
          <li>￥0.00</li>
          <li>￥0.00</li>
          <li>￥139.00</li>
        </ul>
      </div>
      <div class="cle"></div>
    </div>
  </div>
  <!--    订单详情结束    -->

  <div class="cle"></div>
</div>
<!--     会员中心结束     -->

<div class="footer">
	<ul><!--合作伙伴logo-->
		<li><a href="javascript:vido(0);"><img src="images/partner01.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner02.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner03.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner04.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner05.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner06.gif"></a></li>
		<li><a href="javascript:vido(0);"><img src="images/partner07.gif"></a></li>
		<p class="cle"></p>
	</ul>
	<div><!--底部文字-->
		<a href="javascript:vido(0);">苏ICP备14039882号-4</a><span>|</span>
		<a href="javascript:vido(0);">苏B1-20150021</a><span>|</span>
		<a href="javascript:vido(0);">无锡Bombin网络科技有限公司</a>
	</div>
</div>
</body>
<script src="js/leftsidebar.js"></script>
</html>
