<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=8" />
<title>Bombin男装商城管理收货地址</title>
<link rel="stylesheet" type="text/css" href="__HOME__/css/common.css">
<link rel="stylesheet" type="text/css" href="__HOME__/css/header.css">
<link rel="stylesheet" type="text/css" href="__HOME__/css/leftsidebar.css">
<link rel="stylesheet" type="text/css" href="__HOME__/css/address.css">
<link rel="stylesheet" type="text/css" href="__HOME__/css/footer.css">
<script src="__HOME__/js/jquery-1.8.3.min.js"></script>
</head>

<body>
<div class="header">
	<div class="top"><!--顶部导航栏-->
		<div class="topnav">
			<ul class="left"><!--顶部左边-->
				<li class="li01"><a href="__HOME__/javascript:vido(0);">收藏红豆</a></li>
				<li class="li02"><a href="__HOME__/javascript:vido(0);">关注微博</a></li>
				<li class="li03"><a href="__HOME__/javascript:vido(0);">手机商城</a></li>
				<li class="li04"><a href="__HOME__/javascript:vido(0);">咨询电话:</a><span>400-602-1112</span></li>
				<p class="cle"></p>
			</ul>
			<ul class="right"><!--顶部右边-->

				<div>{$Think.session.user_info_home.mobile|default="亲"}，欢迎来到Bombin男装商城！</div>

                {if !$Think.session.user_info_home}
				<li><a href="{:url('login/login')}">【登陆】</a></li>
				<li><a href="{:url('login/regsiter')}">【注册】</a></li>
                {else}
                <li><a href="{:url('login/loginOut')}">【退出】</a></li>
                {/if}

				<li id="My"><a href="member.html">我的Bombin ∨</a></li>
				<li class="help"><a href="javascript:vido(0);">帮助中心</a></li>
				<p class="cle"></p>
			</ul>
			<p class="cle"></p>
		</div>
	</div>	
	<div class="mid"><!--顶部内容区-->
		<div class="box">
			<div class="logo">
                <a href="index.html">
                    <img src="images/logo.png">Bombin男装商城
                </a>
            </div>
			<div class="right">
				<div class="search">
				<form action="" method="">
					<input class="text" type="text" size="20" />
					<button>搜索</button>
				</form>							
				</div>				
				<div class="gwc">
					<a href="shopping.html">我的购物车</a>
					<div id="number">0</div>
				</div>
				<p class="cle"></p>
				<ul class="hot">
					<li class="li01"><a href="__HOME__/javascript:vido(0);">衬衫</a></li>
					<li class="li02"><a href="__HOME__/javascript:vido(0);">外套</a></li>
					<li class="li03"><a href="__HOME__/javascript:vido(0);">童装</a></li>
					<li class="li04"><a href="__HOME__/javascript:vido(0);">秋季热卖</a></li>
					<li class="li05"><a href="__HOME__/javascript:vido(0);">红豆杉</a></li>
				</ul>
			</div>
		</div>
		<div class="nav"><!--导航栏-->
			<div id="all">
				<a href="__HOME__/javascript:vido(0);">全部商品分类<span>∨</span></a>
				<ul id="leftsidebar">
					<li class="li01">
						男装
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">衬衫</a>
						<a href="__HOME__/javascript:vido(0);">羽绒服</a>
						<a href="__HOME__/javascript:vido(0);">毛衫</a>
						</div>
					</li>
					<li class="li02">
						居家
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">家居服</a>
						<a href="__HOME__/javascript:vido(0);">短裤</a>
						<a href="__HOME__/javascript:vido(0);">四角裤</a>
						</div>
					</li>
					<li class="li03">
						童装
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">男童</a>
						<a href="__HOME__/javascript:vido(0);">女童</a>
						<a href="__HOME__/javascript:vido(0);">婴童</a>
						</div>
					</li>
					<li class="li04">
						红豆杉
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">红豆杉</a>
						<a href="__HOME__/javascript:vido(0);"> </a>
						<a href="__HOME__/javascript:vido(0);">园林衫</a>
						</div>
					</li>
					<li class="li05">
						配饰
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">皮带</a>
						<a href="__HOME__/javascript:vido(0);">项链</a>
						<a href="__HOME__/javascript:vido(0);">鞋带</a>
						</div>
					</li>
					<li class="li06">
						套装
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">套装</a>
						<a href="__HOME__/javascript:vido(0);">半套装</a>
						</div>
					</li>
					<li class="li07">
						季节款式
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">夏季</a>
						<a href="__HOME__/javascript:vido(0);">冬季</a>
						<a href="__HOME__/javascript:vido(0);">秋季</a>
						</div>
					</li>
					<li class="li08">
						明星同款
						<div>
						<a class="a01" href="__HOME__/javascript:vido(0);">黄晓明</a>
						<a class="a01" href="__HOME__/javascript:vido(0);">杨毅</a>
						<a class="a01" href="__HOME__/javascript:vido(0);">赵薇</a>
						</div>
					</li>
				</ul>
			</div>
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="nanzhuang.html">男装</a></li>
				<li><a href="__HOME__/javascript:vido(0);">专柜同步</a></li>
				<li><a href="__HOME__/javascript:vido(0);">居家</a></li>
				<li><a href="__HOME__/javascript:vido(0);">家纺</a></li>
				<li><a href="__HOME__/javascript:vido(0);">童装</a></li>
				<li><a href="__HOME__/javascript:vido(0);">女装</a></li>
				<li><a href="__HOME__/javascript:vido(0);">红豆杉</a></li>
				<li><a href="__HOME__/javascript:vido(0);">配饰</a></li>
				<li><a href="__HOME__/javascript:vido(0);">特色购</a></li>
				<p class="cle"></p>
			</ul>
			<p class="cle"></p>
		</div>
	</div>	
</div>

<!--     会员中心开始     -->
<div id="container">
  <span><a href="__HOME__/javascript:vido(0);">Bombin</a> > 会员中心</span>

  <!--    左导航栏开始     -->

  <div class="leftsidebar">
    <ul>
      <h6>个人中心</h6>
      <li><a href="__HOME__/member.html">我的用户中心</a></li>
      <li><a href="__HOME__/shopping.html">我的购物车</a></li>
      <li><a href="__HOME__/order.html">我的订单</a></li>
      <li><a href="__HOME__/javascript:vido(0);">我的收藏</a></li>
      <li><a href="__HOME__/javascript:vido(0);">我的评价</a></li>
      <li><a href="__HOME__/javascript:vido(0);">提取现金</a></li>
      <li><a href="__HOME__/javascript:vido(0);">我的余额</a></li>
    </ul>
    <ul>
      <h6>我的账户</h6>
      <li><a href="address.html">地址管理</a></li>
      <li><a href="modify.html">个人信息</a></li>
    </ul>
  </div>
  
  <!--    左导航栏结束    -->
  
  <!--    新增地址开始    -->
  <div class="address">
    <p>新增地址</p>
    <form action="" method="post"  id="sub">
      <table width="330">
        <tr>
          <td width="80" align="right">收货人姓名：</td>
          <td><input type="text" name="name"/></td>
        </tr>
        <tr>
          <td width="80" align="right">所在区域：</td>
          <td>
          	<select id="province" name="province">
          		<option value="0">请选择省份</option>
       {foreach $province as $v}
          		<option value="{$v.id}">{$v.name}</option>
       {/foreach}
          	</select>

          	<select id="city" name="city">
          		<option value="0">请选择城市</option>
          	</select>

          	<select id="district" name="district">
          		<option value="0">请选择区域</option>
          	</select>

          	<script type="text/javascript">
          		 // 改变事件 不能用点击事件
          		$('#province').change(function(){
          			
          			$.post("{:url('addr/getCity')}", 
          				{id:$(this).val()},  //携带当前的id
          				function(res){
          					var str = '<option value="0">请选择城市</option>'
          					for (var i = 0; i <res.data.length; i++) {
          						str += '<option value="'+res.data[i].id+'">'+res.data[i].name+'</option>'
          					}
          					$('#city').html(str)
          					$('#district').html('<option value="0">请选择区域</option>')

          			}, 'json')
          		})


          		$('#city').change(function(){
          		 
          			$.post("{:url('addr/getDistrict')}", 
          				{id:$(this).val()}, 
          				function(res){
          					var str = '<option value="0">请选择区域</option>'
          					for (var i = 0; i <res.data.length; i++) {
          						str += '<option value="'+res.data[i].id+'">'+res.data[i].name+'</option>'
          					}
          					$('#district').html(str)

          			}, 'json')
          		})
          	</script>

          </td>
        </tr>
        <tr>
          <td width="80" align="right">详细地址：</td>
          <td><input type="text" name="repeat_password"/></td>
        </tr>
        <tr>
          <td width="80" align="right">邮政编码：</td>
          <td><input type="text" name="zipcode"/></td>
        </tr>
        
        <tr>
          <td width="80" align="right">手机号码：</td>
          <td><input type="text" name="mobile"/></td>
        </tr>
      </table>
      <input  type="hidden" name="user_id" value="{$Think.Session.user_info_home.user_id}"/>
      <input class="sub" type="submit" name="sub" value="提交"/>
     <script type="text/javascript">
     	$('#sub').submit(function(){
     		$.post("{:url('Addr/getAddr')}",$('#sub').serialize(),
     			function(res){
     				if(res.status==200){
     					res.url
     				}else{
     					$show_error(res.msg)
     				}

     			},'json')
     		return false;
     	})
         
     </script>

    </form>
  </div>
  <!--    新增地址结束    -->
  
  <!--    收货地址开始    -->
  <div class="shipping">
    <p>收货地址</p>
    <input class="new" type="button" name="new" value="新增地址"/>
    <div class="info">
        <ul class="nav">
          <li>收货人姓名</li>
          <li>所在地区</li>
          <li>详细地址</li>
          <li>联系电话</li>
          <li>手机号码</li>
          <li>操作</li>
        </ul>
        <ul class="data">
          <li>陈波</li>
          <li>广东省 广州市 白云区</li>
          <li class="ill">欲太花圈阴阳奈何桥拜师浮的号</li>
          <li>18925441156</li>
          <li>189254454545</li>
          <li><a href="__HOME__/javascript:vido(0);">编辑</a> <a href="__HOME__/javascript:vido(0);">删除</a></li>
        </ul>     
    </div>
    <div class="cle"></div>
    
    <ul class="submenu">
      <input type="button" name="home" value="首页">
      <a href="__HOME__/javascript:vido(0);"><li class="li_new">1</li></a>
      <input type="button" name="last" value="末页">
    </ul>
  </div>
  <!--    收货地址结束    -->

  <div class="cle"></div>
</div>
<!--     会员中心结束     -->

<div class="footer">
	<ul><!--合作伙伴logo-->
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner01.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner02.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner03.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner04.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner05.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner06.gif"></a></li>
		<li><a href="__HOME__/javascript:vido(0);"><img src="__HOME__/images/partner07.gif"></a></li>
		<p class="cle"></p>
	</ul>
	<div><!--底部文字-->
		<a href="__HOME__/javascript:vido(0);">苏ICP备14039882号-4</a><span>|</span>
		<a href="__HOME__/javascript:vido(0);">苏B1-20150021</a><span>|</span>
		<a href="__HOME__/javascript:vido(0);">无锡Bombin网络科技有限公司</a>
	</div>
</div>
</body>
<script src="__HOME__/js/leftsidebar.js"></script>
</html>
